.hero {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.hero-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(129, 128, 128);
  text-align: center;
}

.hero-nav {
  margin-bottom: 10px;
}

.hero-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.9rem;
}

.hero-menu li {
  cursor: pointer;
}

.social-icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon {
  cursor: pointer;
}
